.button {
  width: 90%;
  border-radius: 33px;
  height: 42px;
  font-size: 14px;
  background-color: #283E4A;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 700;;
}